@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
  margin: 30px;
  font-size: 1.5rem;
}

.contenedor {
  background-color: rgb(138, 217, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.headerImg {
  width: 530px;
  height: 150px;
}

.logoINTI {
  height: 130px;
}

.indexButton {
  background-color: blue;
  font-size: 1.3rem;
  color: azure;
  margin: 20px;
  padding: 30px;
}

button:hover {
  background: rgb(52, 173, 161);
  cursor: pointer;
}
/* Page "calculadoraSellos.html" */

.calculadoraSellos {
  background-color: aliceblue;
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.calculadoraSellos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.calculadoraSellos div {
  margin: 5px;
}

.calculadoraSellos input {
  text-align: center;
  width: 30%;
}

.form-check {
  display: flex;
}

.sellosButton {
  background-color: blueviolet;
  color: aliceblue;
  padding: 20px;
}
/* Page "simuladorFormulaciones.html" */

button {
  background-color: rgb(88, 88, 175);
  font-size: 1rem;
  color: azure;
  margin: 20px;
  padding: 15px;
}

.botonera {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
}

table {
text-align: center;
margin: 30px;
}

table td {
  padding: 0.5rem;
  border: 5px solid DodgerBlue;
}
table th {
  padding: 0.5rem;
  border: 5px solid rgb(166, 128, 255);
}